.navbar {
    padding: 1% 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 0px 20px rgb(231, 231, 231);
}

.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img{
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.navbar .logo p {
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(90, 90, 90); 
    font-size: 22px;  
    width: 500px;
    justify-content: center;
}

.navbar-menu .inactive {
    font-weight: 600;
    padding: 5px 15px;
}

.navbar-menu .active {
    color: brown;
    font-weight: 600;
    padding: 5px 15px;
    border-bottom: 3px solid brown;
    padding-bottom: 3px;
    border-radius: 12px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar button {
    background-color: brown;
    font-size: 16px;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.navbar button:hover {
    opacity: 0.9;
}

.navbar button:active {
    opacity: 0.8;
} 

.navbar-basket-icon {
    position: relative;
}

.navbar-basket-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: brown;
    border-radius: 5px;
    border: none;
    top: -8px;
    right: -8px;
}

.navbar-profile {
    position: relative;
    cursor: pointer;
}
.navbar-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    /* left: 0; */
    z-index: 1;
    width: 105px;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    align-items: center;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid brown;
    outline: 1px solid white;
    list-style: none;
    transition: all 0.3s;
}
.navbar-profile-dropdown hr {
    width: 100%;
}
.navbar-profile-dropdown p {
    transition: all 0.15s;
}

.navbar-profile-dropdown p:hover {
    color: brown;
}

.navbar-profile-dropdown .signout{
    font-weight: 600;
}

@media screen and (max-width: 1170px) {
    .navbar .logo p {
        font-size: 25px;
    }
    .navbar .logo img {
        width: 40px;
    }
    .navbar-menu {
        width: 450px;
        gap: 15px;
        font-size: 18px;
    }
    .navbar-right {
        gap: 40px;
    }
    .navbar-right img {
        width: 25px;
    }
    .navbar button {
        font-size: 10px;
        width: 80px;
        padding: 8px 20px;
    }
}
@media screen and (max-width: 950px) {
    .navbar .logo p {
        display: none;
    }
    .navbar .logo img {
        width: 35px;
    }
    .navbar-menu {
        width: 450px;
        gap: 12px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar button {
        font-size: 10px;
    }
    .navbar button {
        font-size: 10px;
        width: 70px;
        padding: 8px 18px;
    }
}
@media screen and (max-width: 750px) {
    .navbar .logo p {
        display: none;
    }
    .navbar .logo img {
        width: 30px;
    }
    .navbar-menu {
        width: 450px;
        gap: 9px;
        font-size: 14px;
    }
    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 18px;
    }
    .navbar button {
        font-size: 10px;
        width: 60px;
        padding: 6px 0px;
    }
}

@media screen and (max-width: 450px) {
    .navbar .logo p {
        display: none;
    }
    .navbar .logo img {
        width: 25px;
    }
    .navbar-menu {
        width: 450px;
        gap: 6px;
        font-size: 12px;
    }
    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 14px;
    }
}