.signup-container {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    animation: fadeIn 0.5s;
}

.signup {
    display: flex;
    flex-direction: column;
    padding: 25px 80px;
    width: 550px;
    height: 630px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(220, 220, 220);
}

.signup h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    color: brown;
}

.multi-field-group {
    display: flex;
    gap: 20px;
}

.field-group {
    margin-bottom: 15px;
}

.field-group p {
    margin-bottom: 5px;
}

.field-group input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 15px;
    outline: none;
}

.field-group input:focus {
    border: 1px solid brown;
}

.signup-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.btns {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.signup-btn {
    background-color: brown;
    color: white;
    border: none;
    transition: opacity 0.2s;
}

.signup-btn:hover {
    opacity: 0.9;
}

.cancel-btn {
    border: 1px solid rgb(219, 219, 219);
    transition: background-color 0.2s;
}

.cancel-btn:hover {
    background-color: rgb(229, 229, 229);
}

.have-account {
    text-align: center;
    color: brown;
    transition: all 0.2s ease;
    cursor: pointer;
}

.have-account:hover {
    font-weight: 600;
}

@media screen and (max-width: 750px) {
    .signup {
        padding: 10px 25px;
        width: 350px;
        height: 500px;
    }

    .signup h1 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 35px;
        color: brown;
    }

    .field-group input {
        height: 30px;
        font-size: 13px;
    }

    .btns {
        width: 90px;
        height: 30px;
        font-size: 12px;

    }

    .multi-field-group {
        gap: 10px;
    }

    .signup-buttons {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}