.orders {
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    animation: fadeIn 1s;
}

.orders h1 {
    color: brown;
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
}

.orders h2 {
    font-size: 30px;
    color: rgb(90, 90, 90);
    margin-bottom: 25px;
    font-weight: 600;
}

.titles {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    font-weight: 600;
    color: rgb(90, 90, 90);
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.orders-order {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    font-weight: 500;
    color: rgb(90, 90, 90);
    row-gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid rgb(230, 230, 230);
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: white;
}

.orders-order img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.order-id {
    cursor: pointer;
    transition: color 0.15s;
    border-bottom: 1px solid white;
}

.order-id:hover {
    color: brown;
    border-bottom: 1px solid brown;
}

.order-incomplete-complete {
    margin-bottom: 60px;
    border-top: none;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 1050px) {
    .orders h1 {
        font-size: 40px;
    }
    .orders h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 750px) {
    .orders h1 {
        font-size: 30px;
    }
    .orders h2 {
        font-size: 20px;
    }
    .empty1 {
        display: none;
    }

    .orders-order img {
        display: none;
    }

    .titles {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 16px;
    }

    .orders-order {
        grid-template-columns: 1fr 1fr 1fr;
    }
}